.body {
    width: 280px;
    background-color: white;
    height: 100%;
}
.navigation-headline {
    padding: 10px;
    text-transform: uppercase;
}
.label {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
}
.label:hover {
    background-color: #c61862;
    color: white;
    transition: .6s;
}
.label .icon {
    width: auto;
    height: auto;
    font-size: 30px;
    margin-right: 7px;
}
.label .icon {
    color: lightgray;
}
.label .icon.questionnaire {
    color: #da4d8a;
}
.label .icon.bros {
    color: #3576a1;
}
.label .icon.sequal {
    color: #218d8c;
}
.label .headline {
    display: flex;
    align-self: center;
    font-size: 1.2rem;
}
.label .sub-title {
    padding: 5px 0px;
    color: #595959;
    font-size: .8rem;
}
.label:hover .icon, .label:hover .sub-title {
    color: white;
}